{{- $page := .page -}} {{- $path := .path -}} {{- $convertedDir := .convertedDir | default
"converted-assets" -}} {{- $cleanPath := "" -}} {{- $resource := nil -}} {{- $url := "" -}} {{- if
$path }} {{- $cleanPath = cond (hasPrefix $path "/") (strings.TrimPrefix "/" $path) $path -}} {{-
end -}} {{- if $path }} {{- if hasPrefix $path "http" }} {{- $url = $path -}} {{- else -}} {{-
$candidates := slice $cleanPath -}} {{- if hasPrefix $cleanPath "assets/" }} {{- $relativePath :=
strings.TrimPrefix "assets/" $cleanPath -}} {{- $candidates = slice (printf "%s/%s" $convertedDir
$relativePath) $cleanPath $relativePath -}} {{- end -}} {{- range $candidates }} {{- if not
$resource }} {{- $resource = resources.GetMatch . -}} {{- end -}} {{- if and (not $resource) $page
}} {{- $resource = $page.Resources.GetMatch . -}} {{- end -}} {{- end -}} {{- if $resource }} {{-
$resource = $resource | fingerprint -}} {{- $url = $resource.RelPermalink -}} {{- end -}} {{- end
-}} {{- end -}} {{- if and (eq $url "") $path -}} {{- $url = $path | absURL -}} {{- end -}} {{-
return (dict "resource" $resource "url" $url) -}}
