{{ partial "head.html" . }}
    {{ partial "header.html" . }}
    <main class="gm-main">
      {{ partial "breadcrumbs.html" . }}
      {{ block "main" . }}{{ end }}
    </main>
    {{ partial "footer.html" . }}
    {{ partial "language-modal.html" . }}
    {{ partial "menu-modal.html" . }}
    {{ partial "age-gate.html" . }}
    {{ partial "components/medium-typology-modal.html" . }}
    {{ partial "components/article-toc-script.html" . }}
    {{- $scriptAsset := .Scratch.Get "interdeadScript" -}}
    {{- if $scriptAsset -}}
    <script
      type="module"
      src="{{ $scriptAsset.RelPermalink }}"
      integrity="{{ $scriptAsset.Data.Integrity }}"
      crossorigin="anonymous"
    ></script>
    {{- else -}}
    <script type="module" src="{{ "js/app.js" | relURL }}"></script>
    {{- end -}}
  </body>
</html>
