{{ define "main" }}
<article class="gm-section gm-article">
  <div class="gm-container">
    <header class="gm-article__header">
      <div class="gm-article__heading">
        <h1 class="gm-section__title">{{ .Title }}</h1>
      </div>
      {{ if and (eq .Section "blog") .Date }}
      <p class="gm-text--fine gm-article__date">{{ .Date.Format "02 Jan 2006" }}</p>
      {{ end }}
      {{ if and (ne .Section "blog") .Params.image }}
      <figure class="gm-article__media">
        <img src="{{ .Params.image | absURL }}" alt="{{ .Params.imageAlt | default .Title }}" loading="lazy" />
      </figure>
      {{ end }}
    </header>
    {{ $toc := .TableOfContents }}
    {{ $hasToc := and $toc (gt (len (findRE "<li" $toc)) 0) }}
    <div class="gm-article__layout{{ if $hasToc }} gm-article__layout--with-toc{{ end }}">
      {{ if $hasToc }}
        {{ partial "components/article-toc.html" (dict "toc" $toc) }}
      {{ end }}
      <div class="gm-card gm-article__body gm-content">
        {{ if or .Params.categories (and .Date (ne .Section "blog")) }}
        <div class="gm-article__meta">
          {{ partial "components/category-list.html" (dict "categories" .Params.categories "class" "gm-article__categories" "label" (i18n "blog.categories")) }}
          {{ if and .Date (ne .Section "blog") }}
          <p class="gm-text--fine gm-article__date">{{ .Date.Format "02 Jan 2006" }}</p>
          {{ end }}
        </div>
        {{ end }}
        {{ .Content }}
      </div>
    </div>
  </div>
</article>
{{ end }}
