<div
  class="gm-modal gm-interdeadLauncherModal"
  data-modal="interdead-launcher"
  data-modal-scroll="lock"
  data-modal-close-on-overlay="true"
  id="gm-interdeadLauncherModal"
  role="dialog"
  aria-modal="true"
  aria-hidden="true"
  aria-labelledby="gm-interdeadLauncherModalTitle"
>
  <div class="gm-modal__dialog gm-interdeadLauncherModal__dialog" data-interdead-host-dialog>
    <div class="gm-modal__header gm-interdeadLauncherModal__header" data-interdead-host-header>
      <h2 class="gm-modal__title" id="gm-interdeadLauncherModalTitle" data-interdead-host-title></h2>
      <button
        class="gm-modal__close"
        type="button"
        data-modal-close
        aria-label="{{ i18n "menu.modal.close" }}"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="gm-modal__body gm-interdeadLauncherModal__body" data-interdead-host-body></div>
  </div>
</div>
