{{- $navigation := .Site.Params.navigation.items | default slice -}}
{{- $currentNavId := "" -}}
{{- if not .IsHome -}}
  {{- with .CurrentSection }}{{ $currentNavId = .Section }}{{ end -}}
  {{- if eq $currentNavId "" }}{{ with .Section }}{{ $currentNavId = . }}{{ end }}{{ end -}}
{{- end -}}
{{- if gt (len $navigation) 0 -}}
<div
  class="gm-modal gm-menuModal"
  data-modal="menu"
  data-modal-scroll="lock"
  id="gm-menuModal"
  role="dialog"
  aria-modal="true"
  aria-hidden="true"
  aria-labelledby="gm-menuModalTitle"
>
  <div class="gm-modal__dialog gm-ageGate__dialog">
    <div class="gm-modal__header">
      <h2 class="gm-modal__title" id="gm-menuModalTitle">{{ i18n "menu.modal.title" }}</h2>
      <button
        class="gm-modal__close"
        type="button"
        data-modal-close
        aria-label="{{ i18n "menu.modal.close" }}"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="gm-modal__body gm-ageGate__content">
      <p class="gm-modal__hint">{{ i18n "menu.modal.hint" }}</p>
      <ul class="gm-modal__options gm-menuModal__options" role="list">
        {{- range $navigation }}
          {{- $id := .id | default "" -}}
          {{- $href := .url | default "" | relLangURL -}}
          {{- $targetId := .targetId | default "" -}}
          {{- $targetAttr := .target | default "" -}}
          {{- $labelKey := .i18nKey | default .label | default "" -}}
          {{- $resolvedLabelKey := $labelKey -}}
          {{- $resolvedHref := $href -}}
          {{- $resolvedTargetId := $targetId -}}
          {{- if and (eq $id "blog") (not $.IsHome) -}}
            {{- $resolvedLabelKey = "menu.blog.link" -}}
            {{- $resolvedHref = "/blog/" | relLangURL -}}
            {{- $resolvedTargetId = "" -}}
          {{- end -}}
          {{- $label := cond (ne $resolvedLabelKey "") (i18n $resolvedLabelKey) "" -}}
          {{- $bodyHref := cond (and $.IsHome (ne $resolvedTargetId "")) (printf "#%s" $resolvedTargetId) $resolvedHref -}}
          {{- $disableBody := and (not $.IsHome) (and (ne $id "") (eq $id $currentNavId)) -}}
          {{- $isCurrent := $disableBody -}}
          {{- $reopenWelcome := and $.IsHome (eq $id "about") -}}
        <li>
          <div
            class="gm-modal__option gm-menuModal__option{{ if $isCurrent }} gm-modal__option--current gm-menuModal__option--current{{ end }}"
            data-menu-option
            data-menu-url="{{ $resolvedHref }}"
            {{- if $resolvedTargetId }} data-menu-target="{{ $resolvedTargetId }}"{{ end }}
            {{- if $reopenWelcome }} data-menu-reset-storage="gm_age_mode" data-menu-open-modal="ageGate"{{ end }}
            {{- if $disableBody }} aria-disabled="true"{{ end }}
            {{- if $isCurrent }} data-menu-active="true" data-menu-active-label="{{ i18n "lang.modal.current" }}"{{ end }}
          >
            <a
              class="gm-modal__optionBody"
              href="{{ $bodyHref }}"
              data-menu-option-body
              {{- if $disableBody }} aria-disabled="true" data-menu-body-disabled="true" tabindex="-1" aria-current="true"{{ end }}
            >
              <span class="gm-modal__optionLabel">{{ $label }}</span>
              {{- if $isCurrent }}
                <span class="gm-modal__badge gm-menuModal__badge">{{ i18n "lang.modal.current" }}</span>
              {{- end }}
            </a>
            {{- if $.IsHome }}
              <a
                class="gm-modal__optionIcon"
                href="{{ $resolvedHref }}"
                data-menu-option-link
                {{- if $targetAttr }} target="{{ $targetAttr }}"{{ end }}
                aria-label="{{ printf "%s: %s" (i18n "menu.option.open") $label }}"
              >
                ↗
              </a>
            {{- end }}
          </div>
        </li>
        {{- end }}
      </ul>
    </div>
  </div>
</div>
{{- end -}}
